html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.verticle_navbar_HP{
	   max-width: 8% !important;
	   min-width: 8% !important;
}


.title_main_HP {
	color: #fff;
    font-family: "Satisfy", cursive;
    padding: 9%;
}

.title_main_HP h3{
	  font-family: "Satisfy", cursive;
}

.menu_leftMain_HP{
    min-height: 944px;
    width: 152%;
    background-color: #222222;
    margin-left: -14%;
    margin-top: -9%;
}

.headerSpace_HP{
	position: fixed;
	border-bottom: 1px solid;
    width: 100%;
    height: 45px;
    margin-left: 0.8%;
}


.loggedIn_user{
	color: yellow;
    font-size: 12px;
}

.channelsContainer_menu_HP, .directMessageContainer_menu_HP{
	max-height: 50%;
	margin-top: 20%;
}


.directMessageContainer_menu_HP{
	margin-top: 20%;
}



.navbar-nav li{
	width: 100%;
	color: #888C93;
	max-height: 40px;
}

.active{
	max-height:: 40px !important;
}

.categoryTitle_HP{
	color: white;
    padding: 10%;
    font-size: larger;
}


.channels_UL_List, .directmessages_UL_List{

    margin-top: -9%;
    margin-left: 15%;
 }


.numberCount_badge{
	color: yellow;
	font-size: x-small !important;
}

.menu_leftMain_HP .row{
	margin-left: 1%;
}